@font-face {
    font-family: "bolder";
    src: url("./fontsAndImages/KFOlCnqEu92Fr1MmEU9fBBc4.woff2");
}
@font-face {
    font-family: "bold";
    src: url("./fontsAndImages/KFOlCnqEu92Fr1MmSU5fBBc4.woff2");
}
@font-face {
    font-family: "light";
    src: url("./fontsAndImages/KFOmCnqEu92Fr1Mu4mxK.woff2");
}
@font-face {
    font-family: "roman";
    src: url("./fontsAndImages/KFOmCnqEu92Fr1Mu7GxKOzY.woff2");
}
.pg5innertext h1 {
    font-family: "bolder";

}
.pg5innertext h2{
    font-family: "bold";
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
 
}
.page{
    height: 100vh;
    width: 95%;
    
}
#page_blog{
    height:100%;
    width: 100%;
    overflow-x: hidden;
}


#blog{
    height: 100%;
    width: 100%;
}

.pg5h1{
    font-size: 2.5vw;
    font-weight:500;
    
}
.pg5h2{
    font-weight: 400;
    font-size:1.2vw;
    
}

#page5{
    height: 110vh;
    width: 100%;
    padding-right: 3vw;
    background-color: black;
}
#page5head{
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 4vw;
}
#page5head h1{
    color: rgb(255, 255, 255);
    font-size: 5.5vw;
    font-weight: 100;
}
#page5body{
    height: 90vh;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    
}
#page5left{
    width: 45%;
    height: 100%;
    margin-left: 3vw;
    
}
#page5img{
    height:100%;
    width: 100%;
    padding:2vw 3vw 2vw 2vw;
    border-radius: 2vw;
    
    
}
#page5img img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius: inherit;
    /* transition: opacity 0.5s linear; Adjust timing as needed */
}
#page5right{
    width:80%;
    height: 100%;
    display: flex;
}
#page5numbers{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
#pg5bar{
    margin-left: 9vw;/*for keeping in the center*/
    height: 60%;
    width:2px;
    position: relative;
    background-color: #ffffff;
}
.pg5circle{
    width: 2.5vh;
    height: 2.5vh;
    border-radius:50%;
    background-color: #ffffff;
}
#pg5cir1{
    position: absolute;
    top: -0.8vh;
    left:-0.9vh;
    background-color:#003366;
}
#pg5cir2{
    position: absolute;
    top: 50%;
    left:-0.9vh;
}
#pg5cir3{
    position: absolute;
    top: 99%;
    left:-0.9vh;
}
#pg5barcolor{
    height:0;
    width: 100%;
    background-color:#003366;
}
#guidelines{
    margin-left: 5vw;
    margin-top: 2.3vw;
    width: 70%;
    height: 90%;
    display:flex ;
    flex-direction: column;
    gap: 1vw;


}
.pg5text{
    overflow: hidden;
    border-top-right-radius: 2vw;
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    flex-direction: column;
}
.pg5innertext{
    color: white;
    border: 1x solid white;
    padding-left: 0.8vw;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
   
}
@media(max-width:600px){
    #page5head h1{
        font-size: 7.3vw;
    }
    #page5img{
        display: none;
    }
    #page5right{
        width:100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    #page5numbers {
        width: 20%;
        margin-left: -34vw;
        /* background-color: rebeccapurple; */
    }
    #pg5bar{
        width: 5px;

    }
    .pg5circle{
        margin-left: 0.8vw;
        width: 1.6vh;
        height: 1.6vh;
    }
    #guidelines{

        margin-left: 5vw;
        margin-top: 2.3vw;
        width: 80vw;
        height: 90%;
        border-radius: 2vw;
        display:flex ;
        flex-direction: column;
        gap: 3vw;
    
    
    }
    .pg5text{
        
        overflow: hidden;
        border-radius: 2vw;
        height: 33%;
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid black;
    }
    .pg5innertext{
        padding-left: 0.8vw;
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}